dataBase{
      	  jdbcUrl = "jdbc:mysql://localhost:3306/aggregator"
      	  username = root
     	  password = 123
      	  driver = "com.mysql.jdbc.Driver"
          maximumPoolSize = 50
          databaseConnectionTimeout = 1000
       	  "databaseConnectionMaxTimeout:Long" = 64000
    }


kafka{
     	  bootstrapServers = ["192.168.1.55:9092"]
      	  groupId = Group_id_60
     	  enableAutoCommit = false
    	  autoCommitIntervalMs = 1000
          keyDeserializer = org.apache.kafka.common.serialization.StringDeserializer
          valueDeserializer = org.apache.kafka.common.serialization.StringDeserializer
      	  autoOffsetReset = earliest
     	  maxPollRecords = 10000
     	  subscription = rahkar_test
     	  maxPollIntervalMs = 2147483647
     	  readFromBeginning = true
     	  fetchMessageMaxBytes = 1048576
}


spark{
    port = 4641
}